<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.4.2.min.css"/>
  <style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  </style>
  </head>
</head>
<body>

<h1 align="center">Old Friends, New Memes</h1>
<p align="center">Whaddup, Friends of CodeStories! Submit your comment below.</p>

<TABLE border="1" style="border: 1px solid #000000; border-collapse: collapse;" cellpadding="4"> <TR>  <TD>player</TD>  <TD>funny</TD>  <TD>accuracy</TD>  <TD>deception</TD>  <TD>overall</TD> </TR> <TR>  <TD>jessime</TD>  <TD>0.67</TD>  <TD>0.67</TD>  <TD>0.67</TD>  <TD>2.01</TD> </TR> <TR>  <TD>kimiko</TD>  <TD>0.67</TD>  <TD>0.0</TD>  <TD>0.67</TD>  <TD>1.34</TD> </TR> <TR>  <TD>sherif</TD>  <TD>0.0</TD>  <TD>1.0</TD>  <TD>0.33</TD>  <TD>1.33</TD> </TR> <TR>  <TD>wes</TD>  <TD>0.0</TD>  <TD>0.33</TD>  <TD>0.33</TD>  <TD>0.66</TD> </TR></TABLE>


<!-- <img src="https://preview.redd.it/vrp0i7lgg3t21.jpg?width=640&crop=smart&auto=webp&s=2bfc6d5b57f641f8c49cc8df448d9b7d92fb44e7" class="center"> -->
<img src="{{image_url}}" class="center">

<br />

<form action = "{{ url_for('submission') }}" method = "post" align='center'>
      <textarea name="comment" rows="5" cols="30">What are your thoughts?</textarea>
      <br>
			<input type = "submit" value ="Submit" />
</form>


</body>
</html>
